.kt-socials-options{
    
}
.kt-socials-lists{
    margin: 0;
    min-height: 30px;
    padding: 0;
}
.kt-socials-profiles li,
.kt-socials-lists li{
    border: 1px solid #ccc;
    color: #cccccc;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 30px;
    cursor: pointer;
    float: left;
    position: relative;
}
.kt-socials-profiles li{
    border-color: #333;
    cursor: move;
    color: #333;
}
.kt-socials-profiles li:hover,
.kt-socials-lists li:hover,
.kt-socials-lists li.selected{
    border-color: #000;
    color: #000;
}
.kt-socials-lists li.selected{
    cursor: not-allowed;
}


.kt-socials-profiles li i,
.kt-socials-lists li i{
    line-height: 30px;
}
.kt-socials-profiles li span{
    background: rgba(0, 0, 0, 0.8);
    color: red;
    display: none;
    cursor: pointer;
    font-size: 9px;
    height: 10px;
    line-height: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 10px;
}
.kt-socials-profiles li span:after{
    content: "\f00d";
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
}
.kt-socials-profiles li:hover span{
    display: block;
}
.kt-socials-profiles{
    border: 1px solid #333;
    margin-top: 20px;
    padding: 5px;
    min-height: 32px;
}

.ui-socials-highlight{
    width: 30px;
    height: 30px;
    background: #DDD;
}