@font-face {
    font-family: 'fontkite';
    src: url('fontkite.eot?38106307');
    src: url('fontkite.eot?38106307#iefix') format('embedded-opentype'),
       url('fontkite.woff?38106307') format('woff'),
       url('fontkite.ttf?38106307') format('truetype'),
       url('fontkite.svg?38106307#fontkite') format('svg');
    font-weight: normal;
    font-style: normal;
}