/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Retina logo
2. Add clearfix in the grid system
3. Styles for devices(>=1200px)
4. Styles for devices(>=992px and <=1199px)
5. Styles for devices(<=1199px)
6. Styles for devices(<=991px )
7. Styles for devices(>=768px and <= 991px)
8. Styles for devices(<=767px )
9. Styles for devices(>=768px and <= 991px)
10. Styles for devices(<=480px )
11. Styles for devices(<=320px )
*/

/* 1. Retina logo */
@media only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    .site-branding .site-logo.retina-logo-wrapper .retina-logo{ display: block; }
    .site-branding .site-logo.retina-logo-wrapper .default-logo { display: none; }
}

/* 2. Styles for devices(>=1200px) */
@media (min-width: 1200px) {
    .col-clearfix-lg {
        clear: both;
    }
}
/* 3. Styles for devices(>=992px and <=1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-clearfix-md {
        clear: both;
    }
}
/* 4. Styles for devices(<=1199px) */
@media (max-width: 1199px) {

}
/* 5. Styles for devices(>=992px) */
@media (min-width: 992px) {
    .col-clearfix-md {
        clear: both;
    }
}
/* 6. Styles for devices(<=991px ) */
@media (max-width: 991px) {
    #mobile-nav-holder{
        display: block;
    }

}
/* 7. Styles for devices(>=768px and <= 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .col-clearfix-sm {
        clear: both;
    }



}

/* 8. Styles for devices(<=767px ) */
@media (max-width: 767px) {
    .col-clearfix-xs {
        clear: both;
    }

    .coming-soon .wrap{
        width:50%;
    }
}
/* 10. Styles for devices(<=480px ) */
@media (max-width: 480px) {
    .coming-soon .wrap{
        width:100%;
    }
}
/* 11. Styles for devices(<=320px ) */
@media (max-width: 320px) {
    .content-404 form{max-width: 320px;}
    .woocommerce table.shop_table td.actions .checkout-button,
    .woocommerce table.shop_table td.actions input[name="update_cart"]{
        width:100%;
        text-align: center;
        margin:0;
    }
    .woocommerce table.shop_table td.actions .checkout-button{
        margin:0 0 10px;
    }
}