/*------------------------------------------------------------------
[Table of contents]

1. Woocommerce shopping cart
3. Woocommerce Common
4. Woocommerce widget
    4.1. Product categories
    4.2. Price filter
    4.3. Cart and Product list widget
5. Products
6. Product Detail
7. Pagination & Ordering & Result count
8. Product popup
9. Product Comment
10. Product Cart
11. Product Checkout
12. Woocommerce carousel
13. Sales Countdown
14. Shopping cart
15. Custom Yith Woocommerce Compare
16. Other

/** ================================================
    1. Woocommerce Common
*** ================================================*/
.woocommerce .price-save{
    display: none;
}
.woocommerce span.onsale{
    border-radius: 0;
    font-size: 13px;
    height: 30px;
    left: 10px;
    line-height: 30px;
    min-height: auto;
    padding: 0 5px;
    top: 10px;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
    background: #d0a852;
    border-color: #d2a952;
    border-color: #d2a952;
    border-color: #d2a952;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover{
    background: #00a852;
}
.woocommerce .star-rating span:before{
    color: #d0a852;
}
/** ================================================
    2. Woocommerce shopping cart
*** ================================================*/
.mini-cart .shopping-bag{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1002;
    color: #FFF;

    width: 300px;
    text-align: left;

    -webkit-transition: all 0.5s ease;  /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform:  translate(0,40px);
    -moz-transform:     translate(0,40px);
    -o-transform:       translate(0,40px);
    -ms-transform:      translate(0,40px);
    transform:          translate(0,40px);
    opacity: 0;
    display: block;
    visibility: hidden;

}
.mini-cart .shopping-bag .loading_overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
    opacity: 0.6;
}
.mini-cart .shopping-bag .loading_overlay i{
    font-size:30px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-15px;
    margin-left:-15px;
}
.mini-cart:hover .shopping-bag{
    -webkit-transform:  translate(0,0);
    -moz-transform:     translate(0,0);
    -o-transform:       translate(0,0);
    -ms-transform:      translate(0,0);
    transform:          translate(0,0);
    opacity: 1;
    visibility: visible;
}
.mini-cart:hover > a:after{
    display: block;
}
.shopping-bag-wrapper{
    -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    3px 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow:         3px 0 5px 0 rgba(0, 0, 0, 0.3);
    background: #1e1e1e;
    border-color: #d2a952 #a0a0a0 #a0a0a0;
    border-style: solid;
    border-width: 2px 1px 1px;
}
.shopping-bag-wrapper h3.cart-title{
    border-bottom: 1px solid #a0a0a0;
    font-size: 15px;
    margin: 0;
    padding: 12px 15px;
}
.mini-cart .shopping-bag-content{

}
.cart_block_no_products{
    margin: 0;
    padding: 20px 20px;
}
.bag-products{
    height: auto;
    overflow-y: auto;
    max-height: 375px;
}
.bag-products-content{
    padding: 20px 0;
}
.bag-products .bag-product{
    font-weight: normal;
    margin: 0 0 25px 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.bag-products .bag-product:last-child{
    margin-bottom: 0;
}
.bag-products .bag-product .bag-product-details{
    overflow: hidden;
    padding: 0 0 15px 15px;
    position: relative;
    text-align: left;
}
.bag-products .bag-product figure{
    float: left;
}
.bag-products .bag-product figure img{
    max-width: 80px;
    height: auto;
}
.bag-products .bag-product a.remove{
    position: absolute;
    right: 10px;
    top: 0;
    color: #ffffff!important;
}
.bag-products .bag-product a.remove:after{
    content: '\f014';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}
.bag-products .bag-product a.remove:hover{
    background: none;
    color: red !important;
}
.bag-product .bag-product-title{
    margin: 0 0 10px;
}
.bag-product .bag-product-title a{
    color: #a0a0a0;
}
.bag-product .bag-product-title a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.bag-product dl.variation{
    margin-bottom: 3px;
}
.bag-product dl.variation dt {
    display: inline-block;
    font-weight: 700;
    margin: 0 4px 0 0;
}
.bag-product dl.variation dd {
    display: inline-block;
    margin: 0 4px 0 0;
}
.bag-product dl.variation dd p:after{
    content: ',';
}
.bag-product dl.variation dd p{
    margin: 0;
    padding: 0;
}
.bag-product dl.variation dd:last-child{
    margin-right: 0;
}
.bag-product dl.variation dd:last-child p:after{
    content: '';
}
.bag-product .bag-product-price,
.bag-product.bag-product-qty{
    display: inline-block;
}
.bag-product .bag-product-qty{
    text-transform: uppercase;
    display: inline-block;
}
.bag-product .bag-product-qty:before{
    color: #666;
    content: "|";
    margin: 0 6px;
}
.bag-total{
    border-top: 1px solid #a0a0a0;
    font-size: 16px;
    line-height: 30px;
    padding: 7px 15px 0;
}
.bag-total .amount{
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: #d0a852;
}
.bag-buttons{
    padding: 15px;
    background: #1e1e1e;
}
.bag-buttons a{
    margin-right: 15px;
    font-size: 13px;
    font-weight: normal;
    padding: 7px;
    text-align: center;
    width: 126px;
    background: #444;
    border-color:#444;
}
.bag-buttons a:last-child{
    margin-right: 0px;
    background: #2c2c2c;
    border-color:#2c2c2c;
}
.bag-buttons a:focus,
.bag-buttons a:hover,
.bag-buttons a:active{
    background: #d2a952;
    border-color: #d2a952;
}
.bag-buttons a.button-shop{
    width: 100%;
}

body .mCSB_inside > .mCSB_container{
    margin-right: 15px;
}
body .mCSB_scrollTools{
    width: 10px;
    background: #CCCCCC;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
body .mCSB_scrollTools .mCSB_draggerRail{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    background: none;
}
body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #d2a952;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    width: 10px;
}
body .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
body .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
body .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background: #d2a952;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}



.header-light .mini-cart .shopping-bag{
    color: #777777;
}
.header-light .shopping-bag-wrapper{
    background: #FFFFFF;
    border-color: #d2a952 #e6eced #e6eced;
}
.header-light .shopping-bag-wrapper h3.cart-title{
    border-color: #e6eced;
    color: #777777;
}
.header-light .bag-product .bag-product-title a{
    color: #282828;
}
.header-light .bag-product .bag-product-title a:hover{
    color: #000000;
}
.header-light .bag-products .bag-product a.remove{
    color: #282828!important;
}
.header-light .bag-products .bag-product a.remove:hover{
    color: red!important;
}
.header-light .bag-buttons{
    background: #FFFFFF;
}
.header-light .bag-total{
    border-color: #e6eced;
}
/** ================================================
    3. Woocommerce shop products
*** ================================================*/

.woocommerce ul.shop-products{
    padding: 0;
    margin: 0;
    list-style: none;
}
.woocommerce ul.shop-products li.product{
    position: relative;
    padding-bottom: 25px;
    text-align: center;
}
.woocommerce ul.shop-products li.first{
    clear: both;
}
.woocommerce ul.shop-products .product-item-container{
    position: relative;
    overflow: hidden;
}


.woocommerce ul.shop-products .product-image-container{
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.woocommerce ul.shop-products .product-image-content{
    position: relative;
    overflow: hidden;
}
.woocommerce ul.shop-products .product-image-container a.product-thumbnail{
    display: block;
    overflow: hidden;
    position: relative;
}
.woocommerce ul.shop-products li.product a img.product-img{
    box-shadow: none;
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: top 0.4s ease;
    transition: all ease 0.4s;
}

.woocommerce ul.shop-products .product-image-container .product-thumbnail-effect img.second-img {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}
.woocommerce ul.shop-products li .product-item-container:hover .product-thumbnail-effect img.product-img{
    opacity: 1;
}
.woocommerce ul.shop-products h3{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 10px;
    padding: 0;
}
.woocommerce ul.shop-products .star-rating{
    display: block;
    float: none;
    margin: 0 auto 10px;
}
.woocommerce ul.shop-products .price{
    color: #d0a852;
    display: block;
    font-size: 26px;
}
.woocommerce ul.shop-products .added_to_cart,
.woocommerce ul.shop-products .button,
.woocommerce ul.shop-products .product-quick-view{
    text-indent: -9999px !important;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -40px;
    right: 0;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: top 0.4s ease;
    transition: all ease 0.4s;
    background: #d0a852;
    color: #FFFFFF;
}
.woocommerce ul.shop-products .added_to_cart{
    right: -40px;
    bottom: 45px;
}
.woocommerce ul.shop-products .product-item-container .product-quick-view{
    right: 45px;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.woocommerce ul.shop-products .product-item-container:hover .product-quick-view,
.woocommerce ul.shop-products .product-item-container:hover .button{
    bottom: 0;
}
.woocommerce ul.shop-products .product-item-container:hover .added_to_cart{
    right: 0;
}
.woocommerce ul.shop-products .product-quick-view:before,
.woocommerce ul.shop-products .added_to_cart:before,
.woocommerce ul.shop-products .button:before{
    content: "\e04e";
    font-family: "Simple-Line-Icons";
    font-size: 20px;
    font-variant: normal;
    font-weight: normal;
    height: 100%;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
}
.woocommerce ul.shop-products .button.product_type_variable:before{
    content: "\e051";
}
.woocommerce ul.shop-products .added_to_cart:before{
    content: "\e04f";
}
.woocommerce ul.shop-products .product-quick-view:before{
    content: "\e01d";
}
.woocommerce ul.shop-products .product-quick-view.loading:before,
.woocommerce ul.shop-products .button.loading:before{
    content: "\e098";
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    opacity: 0.5;
}
/** ================================================
    4. Grid list Toggle
*** ================================================*/
/*  */
.woocommerce .gridlist-toggle{
    float: right;
    margin: 5px 0 25px;
}
.woocommerce .gridlist-toggle li{
    list-style: none;
    display: inline-block;
    margin-right: 1px;
}
.woocommerce .gridlist-toggle li span{
    margin-right: 5px;
}
.woocommerce .gridlist-toggle li a{
    width: 30px;
    height: 30px;
    border: 1px solid #d7d7d7;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #d7d7d7;
}
.woocommerce .gridlist-toggle li a.active,
.woocommerce .gridlist-toggle li a:hover{
    background: #d0a852;
    border-color: #d0a852;
    color: #FFFFFF;
}
.woocommerce .gridlist-toggle li a i{
    line-height: 30px;
}
/** ================================================
    5. Woocommerce product quickview
*** ================================================*/
.woocommerce.kt-product-popup{
    background: #f7f7f7;
    margin: auto;
    max-width: 900px;
    padding: 20px;
    position: relative;
}
.woocommerce.kt-product-popup div.product div.summary{
    width: 100%;
    float: none;
    margin: 0;
}
.woocommerce.kt-product-popup .woocommerce-review-link{
    display: none;
}
/** ================================================
    6. woocommerce widgets
*** ================================================*/
.woocommerce ul.product_list_widget{
    margin: 0;
    padding: 0;
    list-style: none;
}
.woocommerce ul.product_list_widget li{
    padding: 20px 0 15px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.woocommerce ul.product_list_widget li:last-child{
    border: none;
}
.woocommerce ul.product_list_widget li img{
    float: left;
    width: 70px;
    margin: 0 17px 5px 0;
    height: auto;
}
.woocommerce ul.product_list_widget li a{
    color: #282828;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
}
.woocommerce ul.product_list_widget li a:hover{
    color: #000000;
}
.woocommerce ul.product_list_widget .star-rating{
    float: none;
    margin: 0 0 10px;
}
.woocommerce ul.cart_list li dl::after,
.woocommerce ul.cart_list li dl::before,
.woocommerce ul.product_list_widget li dl::after,
.woocommerce ul.product_list_widget li dl::before{
    display: none;
}
.woocommerce .product_list_widget dl.variation{
    border: medium none;
    padding: 0;
}
.woocommerce .product_list_widget dl.variation dd,
.woocommerce .product_list_widget dl.variation dt {
    clear: none;
    display: inline-block;
    float: none;
    margin-bottom: 0;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li{
    padding: 20px 0 15px 20px;
}
.woocommerce ul.cart_list li a.remove{
    left: 0;
    position: absolute;
    width: 20px;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    color: #666666 !important;
    margin: 0;
    top: 18px;
    width: auto;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove:hover,
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover{
    color: red!important;
    background: none;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove:before,
.woocommerce.widget_shopping_cart .cart_list li a.remove:before{
    content: '\f014';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}
.woocommerce .widget_shopping_cart .total,
 .woocommerce.widget_shopping_cart .total{

}
.woocommerce .widget_shopping_cart .total .amount,
.woocommerce.widget_shopping_cart .total .amount{
    float: right;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
    background: #282828;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background: #d0a852;
}