.woof_container{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;
}
.woof_container:last-child { 
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	border-bottom: 0px; 
}

.woof_container .price_label {
    text-align: left;
}
.woof_container .price_slider_amount {
    line-height: inherit;
}
.woof_container select{
    width: 100%;
}

.woof_container h3{
    font-size: 18px;
    margin-bottom: 15px ;
    position: relative;
    display: block;
    cursor: pointer;
}
.woof_container h3:before {

    content: "\f106";
    font-family: "fontawesome";
    position: absolute; top: 0px; right: 0px;
}
.woof_container h3.closed:before {
    content: "\f107";
}

.woof_container_inner .woof_list{
    padding-left: 0px;
}
.woof_list li{
    list-style: none ;
    padding: 0 0 5px 0;
    margin: 0 ;
}
.woof_list li:after{ content: " "; clear: both; display: block; }
.woof_list li:last-child {
    padding-bottom: 0px;
}

.woof label{
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
     font-weight: normal;
}

.woof_childs_list{
    margin-left: 25px;
    padding-left: 0px;
}

.woof_container_inner ul:last-child { margin-bottom: 0px;}

/**********************/
.woof_auto_show{
    overflow: hidden;
}

.woof_auto_show .woof_container_inner{
    padding-left: 5px;
}

.woo_submit_search_form_container{
    overflow: hidden;
    clear: both;
    margin: 9px 0 0px 0;
}

li.woof_childs_list_li{
    padding-bottom: 0 !important;
}
.js-check  input { display: none; }
.js-check span {
    display: inline-block;
    border: 1px solid #CCCCCC;
    height: 20px; width: 20px; display: inline-block; margin-right: 10px;
    position: relative;
    text-align: center;
    background: #ffffff;
    float: left;margin-top: 0px;
    overflow: hidden;
    line-height: 0px;
}
.woof_list_radio .js-check span{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.js-check.js-checked span {
    border: 2px solid #666;
}
.js-check.js-checked span img {
    width: 100%; height: 100%;
    display: block; line-height: 0px;
    vertical-align: top;
}
.js-check.js-checked span:before{
    font-family: "fontawesome";
    content: "\f00c";
    font-size: 12px;
    left: 3px;
    position: absolute;
    top: -3px;
    color: #666666;
}
.js-check.js-checked span.woof-tax-thumb:before {
    color: #ffffff;
}
.woof_radio_term_reset  { margin-left: 5px; display: none; }
.js-checked .woof_radio_term_reset  {display: inline-block; }
.view-full-h {
    border-top: 1px solid #ccc;
    display: none;
    margin: 15px auto 0;
    position: relative;
    text-align: center;
    width: 80%;
}
.view-full-h span {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #ccc;
    color: #ccc;
    display: inline-block;
    font-size: 16px;
    height: 16px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 30px;
    line-height: 13px;
}

.view-full-h span:before{
    content: "\f107";
    font-family: "fontawesome";

}
.view-full-h span.closed {
    content: "\f106";
    font-family: "fontawesome";
}
.is-max-h .view-full-h { display: block; }

.relative { position: relative; }
.woof-products-wrap{  min-height: 120px; display: block ;}
.woof-loading {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 1px solid #cccccc;
    height: 80px;
    left: 50%;
    line-height: 75px;
    margin-left: -30px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 80px;
    font-size: 40px;
}
